{{ define "main" }}
<div class="section mt-6 mb-6">
    <div class="container">
        <div class="columns is-multiline">
            {{ range .Pages }}
              <div class="column is-4">
                <a href="{{ .Permalink }}">
                  <div class="featured" style="background:linear-gradient(rgba(18,27,34,0.4),rgba(18,27,34,0.4)),url({{ .Params.featured_image }}) no-repeat center;background-size:cover;padding-top:100px;padding-bottom:100px;border-radius: 4px;">
                      <h5 class="title is-5 has-text-centered has-text-white">{{ .Title }}</h5>
                  </div>
                </a>
              </div>
            {{ end }}
          </div>
    </div>
</div>

{{ end }}